  <h1>News</h1>
  <h2>Test subheading</h2>
<section class="flex news-wrap">
  <!-- COL 1 -->
  <div class="news-column flex">
    <div class="flex news-col">
    <div class="flex news-item" style="border-top: 5px solid orange;">
      <div class="news-top-part flex">
        <div class="img-wrap"></div>
        <div class="job-wrap">
          <span class="home-job-title">Lorem ipsum dolor sit amet <br>
            consectetur adipiscing elit</span> <br>
          <span class="home-job-location">Frankfurt, Njemacka</span>
        </div>
      </div>
      <div class="short-text mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dui pretium, viverra tortor ut, praesent id dui pretium, viverra tortor ut...</div>
      <div class="news-cta"><button class="find-more-btn mt-5">Saznaj vise</button></div>
    </div>
  </div>
  </div>
    <!-- COL 2 -->
    <div class="news-column flex">
      <div class="flex news-col">
      <div class="flex news-item" style="border-top: 5px solid orange;">
        <div class="news-top-part flex">
          <div class="img-wrap"></div>
          <div class="job-wrap">
            <span class="home-job-title">Lorem ipsum dolor sit amet <br>
              consectetur adipiscing elit</span> <br>
            <span class="home-job-location">Frankfurt, Njemacka</span>
          </div>
        </div>
        <div class="short-text mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dui pretium, viverra tortor ut, praesent id dui pretium, viverra tortor ut...</div>
        <div class="news-cta"><button class="find-more-btn mt-5">Saznaj vise</button></div>
      </div>
    </div>
    </div>
    <!-- COL 3 -->

    <div class="news-column flex">
      <div class="flex news-col">
      <div class="flex news-item" style="border-top: 5px solid orange;">
        <div class="news-top-part flex">
          <div class="img-wrap"></div>
          <div class="job-wrap">
            <span class="home-job-title">Lorem ipsum dolor sit amet <br>
              consectetur adipiscing elit</span> <br>
            <span class="home-job-location">Frankfurt, Njemacka</span>
          </div>
        </div>
        <div class="short-text mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dui pretium, viverra tortor ut, praesent id dui pretium, viverra tortor ut...</div>
        <div class="news-cta"><button class="find-more-btn mt-5">Saznaj vise</button></div>
      </div>
    </div>
    </div>
    <div class="news-column flex">
      <div class="flex news-col">
      <div class="flex news-item" style="border-top: 5px solid orange;">
        <div class="news-top-part flex">
          <div class="img-wrap"></div>
          <div class="job-wrap">
            <span class="home-job-title">Lorem ipsum dolor sit amet <br>
              consectetur adipiscing elit</span> <br>
            <span class="home-job-location">Frankfurt, Njemacka</span>
          </div>
        </div>
        <div class="short-text mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dui pretium, viverra tortor ut, praesent id dui pretium, viverra tortor ut...</div>
        <div class="news-cta"><button class="find-more-btn mt-5">Saznaj vise</button></div>
      </div>
    </div>
    </div>
      <!-- COL 2 -->
      <div class="news-column flex">
        <div class="flex news-col">
        <div class="flex news-item" style="border-top: 5px solid orange;">
          <div class="news-top-part flex">
            <div class="img-wrap"></div>
            <div class="job-wrap">
              <span class="home-job-title">Lorem ipsum dolor sit amet <br>
                consectetur adipiscing elit</span> <br>
              <span class="home-job-location">Frankfurt, Njemacka</span>
            </div>
          </div>
          <div class="short-text mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dui pretium, viverra tortor ut, praesent id dui pretium, viverra tortor ut...</div>
          <div class="news-cta"><button class="find-more-btn mt-5">Saznaj vise</button></div>
        </div>
      </div>
      </div>
      <!-- COL 3 -->

      <div class="news-column flex">
        <div class="flex news-col">
        <div class="flex news-item" style="border-top: 5px solid orange;">
          <div class="news-top-part flex">
            <div class="img-wrap"></div>
            <div class="job-wrap">
              <span class="home-job-title">Lorem ipsum dolor sit amet <br>
                consectetur adipiscing elit</span> <br>
              <span class="home-job-location">Frankfurt, Njemacka</span>
            </div>
          </div>
          <div class="short-text mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dui pretium, viverra tortor ut, praesent id dui pretium, viverra tortor ut...</div>
          <div class="news-cta"><button class="find-more-btn mt-5">Saznaj vise</button></div>
        </div>
      </div>
      </div>
</section>



<section class="flex header-wrap">
  <div class="flex flex-column area-1">
    <h1>Lorem ipsum dolor sit</h1>
    <div class="info-item">
      <h3>Lorem ipsum</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dui pretium, viverra tortor ut, imperdiet arcu. Donec faucibus pulvinar augue, sed molestie odio bibendum in. </p>
      <button class="find-more-btn">Vise informacija</button>
    </div>
    <div class="info-item">
      <h3>Lorem ipsum</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dui pretium, viverra tortor ut, imperdiet arcu. Donec faucibus pulvinar augue, sed molestie odio bibendum in. </p>
      <button class="find-more-btn">Vise informacija</button>
    </div>
    <div class="info-item">
      <h3>Lorem ipsum</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dui pretium, viverra tortor ut, imperdiet arcu. Donec faucibus pulvinar augue, sed molestie odio bibendum in. </p>
      <button class="find-more-btn">Vise informacija</button>
    </div>
    <div class="info-item">
      <h3>Lorem ipsum</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dui pretium, viverra tortor ut, imperdiet arcu. Donec faucibus pulvinar augue, sed molestie odio bibendum in. </p>
      <button class="find-more-btn">Vise informacija</button>
    </div>
  </div>
  <div class="flex flex-column area-2">
    <h2>Lorem ipsum</h2>


    <div class="item flex job-item">
      <div class="img-wrap"></div>
      <div class="job-wrap">
        <span class="home-job-title">Lorem ipsum dolor sit amet <br>
          Lorem ipsum dolor sit amet</span> <br>
        <span class="home-job-location">Frankfurt, Njemacka</span>
      </div>
    </div>

    <div class="item flex job-item">
      <div class="img-wrap"></div>
      <div class="job-wrap">
        <span class="home-job-title">Lorem ipsum dolor sit amet <br>
          Lorem ipsum dolor sit amet</span> <br>
        <span class="home-job-location">Frankfurt, Njemacka</span>
      </div>
    </div>

    <div class="item flex job-item">
      <div class="img-wrap"></div>
      <div class="job-wrap">
        <span class="home-job-title">Lorem ipsum dolor sit amet <br>
          Lorem ipsum dolor sit amet</span> <br>
        <span class="home-job-location">Frankfurt, Njemacka</span>
      </div>
    </div>
    <button class="find-more-btn mt-5">Lorem ipsum</button>
  </div>

</section>
<div class="section-title">
  <h2>Lifestyle</h2>
</div>
<section class="flex news-wrap">

  <div class="news-col flex">
    <div class="flex news-item" style="border-top: 5px solid orange;">
      <div class="news-top-part flex">
        <div class="img-wrap"></div>
        <div class="job-wrap">
          <span class="home-job-title">Lorem ipsum dolor sit amet <br>
            consectetur adipiscing elit</span> <br>
          <span class="home-job-location">Frankfurt, Njemacka</span>
        </div>
      </div>
      <div class="short-text mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dui pretium, viverra tortor ut, praesent id dui pretium, viverra tortor ut...</div>
      <div class="news-cta"><button class="find-more-btn mt-5" style="border-top: 5px solid orange;">Saznaj vise</button></div>
    </div>

    <div class="flex news-item" style="border-top: 5px solid rgb(120, 176, 224);">
      <div class="news-top-part flex">
        <div class="img-wrap"></div>
        <div class="job-wrap">
          <span class="home-job-title">Lorem ipsum dolor sit amet <br>
            consectetur adipiscing elit</span> <br>
          <span class="home-job-location">Frankfurt, Njemacka</span>
        </div>
      </div>
      <div class="short-text mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dui pretium, viverra tortor ut, praesent id dui pretium, viverra tortor ut...</div>
      <div class="news-cta"><button class="find-more-btn mt-5" style="border-top: 5px solid rgb(120, 176, 224);">Saznaj vise</button></div>
    </div>

    <div class="flex news-item" style="border-top: 5px solid rgb(75, 156, 88);">
      <div class="news-top-part flex">
        <div class="img-wrap"></div>
        <div class="job-wrap">
          <span class="home-job-title">Lorem ipsum dolor sit amet <br>
          consectetur adipiscing elit</span> <br>
          <span class="home-job-location">Frankfurt, Njemacka</span>
        </div>
      </div>
      <div class="short-text mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dui pretium, viverra tortor ut, praesent id dui pretium, viverra tortor ut...</div>
      <div class="news-cta"><button class="find-more-btn mt-5" style="border-top: 5px solid rgb(75, 156, 88);">Saznaj vise</button></div>
    </div>
  </div>

</section>
<div class="ad-box">
  Reklama
</div>
